/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #605dc8;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
  --shadow-color: #e8e8e8;
}

button.primary {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.header-bar {
  
  padding: 2rem 1rem 1rem 1rem;
  background: linear-gradient(160deg, #f8fafc 0%, #eef2ff 100%);
  box-shadow: 0 10px 22px -18px #334155;

}
.header-bar-container{
  height: 100px;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.header-bar h1 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #334155;
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(160deg, #f8fafc 0%, #536ec4 100%);
  color: #475569;
}

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  display: inline-block;
  gap: 0.5rem;
}