:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: #1e293b;
}
.header {
    position: relative;
    justify-content: center;
    align-items: top;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  max-height: calc(100% - 120px);
}

.header-bar {
  
  padding: 2rem 1rem 1rem 1rem;
  background: linear-gradient(160deg, #f8fafc 0%, #eef2ff 100%);
  box-shadow: 0 10px 22px -18px #334155;

}
.header-bar-container{
  height: 100px;
  width: 100vw;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.header-bar h1 {
  font-size: 1.75rem;
  font-weight: 600;
  color: #334155;
  display: inline-block;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding: 1rem;
  background: linear-gradient(160deg, #f8fafc 0%, #536ec4 100%);
  color: #475569;
}

.logo {
  width: 40px;
  height: 40px;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  display: inline-block;
  gap: 0.5rem;
}
.icon {
  width: 24px;
  height: 24px;
}